body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1333px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:382px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:382px;
  color:#FFFFFF;
}
#u950 {
  position:absolute;
  left:2px;
  top:183px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:332px;
}
#u951 {
  position:absolute;
  left:1001px;
  top:108px;
  width:332px;
  height:332px;
  opacity:0.3;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u952 {
  position:absolute;
  left:2px;
  top:124px;
  width:328px;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u953 {
  position:absolute;
  left:500px;
  top:286px;
  width:295px;
  height:22px;
  font-size:18px;
  color:rgba(255, 255, 255, 0.698039215686274);
  text-align:center;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u957 {
  position:absolute;
  left:958px;
  top:76px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u959 {
  position:absolute;
  left:958px;
  top:118px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u961 {
  position:absolute;
  left:958px;
  top:144px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u963 {
  position:absolute;
  left:958px;
  top:170px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u966 {
  position:absolute;
  left:807px;
  top:76px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u968 {
  position:absolute;
  left:807px;
  top:118px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u970 {
  position:absolute;
  left:807px;
  top:144px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u972 {
  position:absolute;
  left:807px;
  top:170px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u975 {
  position:absolute;
  left:660px;
  top:76px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u977 {
  position:absolute;
  left:660px;
  top:118px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u979 {
  position:absolute;
  left:660px;
  top:144px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u981 {
  position:absolute;
  left:660px;
  top:170px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u984 {
  position:absolute;
  left:509px;
  top:76px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u986 {
  position:absolute;
  left:509px;
  top:118px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u988 {
  position:absolute;
  left:509px;
  top:144px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u990 {
  position:absolute;
  left:509px;
  top:170px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u993 {
  position:absolute;
  left:359px;
  top:76px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u995 {
  position:absolute;
  left:359px;
  top:118px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u997 {
  position:absolute;
  left:359px;
  top:144px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u999 {
  position:absolute;
  left:359px;
  top:170px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1002 {
  position:absolute;
  left:208px;
  top:76px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u1004 {
  position:absolute;
  left:208px;
  top:118px;
  width:29px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u1006 {
  position:absolute;
  left:208px;
  top:144px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u1008 {
  position:absolute;
  left:208px;
  top:170px;
  width:33px;
  height:16px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:15px;
}
#u1011 {
  position:absolute;
  left:359px;
  top:487px;
  width:128px;
  height:15px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:0px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:15px;
}
#u1013 {
  position:absolute;
  left:660px;
  top:487px;
  width:128px;
  height:15px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:0px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u1015 {
  position:absolute;
  left:807px;
  top:487px;
  width:129px;
  height:15px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:0px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u1017 {
  position:absolute;
  left:208px;
  top:487px;
  width:129px;
  height:15px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:0px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u1019 {
  position:absolute;
  left:509px;
  top:487px;
  width:129px;
  height:15px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:0px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:15px;
}
#u1021 {
  position:absolute;
  left:958px;
  top:487px;
  width:128px;
  height:15px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:0px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
