body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1294px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:832px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:832px;
}
#u951 {
  position:absolute;
  left:2px;
  top:408px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:32px;
}
#u952 {
  position:absolute;
  left:208px;
  top:480px;
  width:878px;
  height:32px;
}
#u953 {
  position:absolute;
  left:2px;
  top:8px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:204px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:0px;
  top:59px;
  width:1294px;
  height:204px;
}
#u955 {
  position:absolute;
  left:2px;
  top:94px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:59px;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:59px;
}
#u957 {
  position:absolute;
  left:2px;
  top:22px;
  width:1290px;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:208px;
  top:149px;
  width:57px;
  height:16px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
