body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1294px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:832px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:832px;
}
#u939 {
  position:absolute;
  left:2px;
  top:408px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:32px;
}
#u940 {
  position:absolute;
  left:208px;
  top:480px;
  width:878px;
  height:32px;
}
#u941 {
  position:absolute;
  left:2px;
  top:8px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:204px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:0px;
  top:59px;
  width:1294px;
  height:204px;
}
#u943 {
  position:absolute;
  left:2px;
  top:94px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:59px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:59px;
}
#u945 {
  position:absolute;
  left:2px;
  top:22px;
  width:1290px;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:208px;
  top:149px;
  width:57px;
  height:16px;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
