body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1294px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:311px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:311px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:148px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2003 {
  position:absolute;
  left:20px;
  top:243px;
  width:542px;
  height:22px;
  font-size:18px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2005 {
  position:absolute;
  left:20px;
  top:211px;
  width:542px;
  height:22px;
  font-size:18px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2007 {
  position:absolute;
  left:20px;
  top:179px;
  width:542px;
  height:22px;
  font-size:18px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2009 {
  position:absolute;
  left:20px;
  top:147px;
  width:542px;
  height:22px;
  font-size:18px;
}
#u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2011 {
  position:absolute;
  left:20px;
  top:115px;
  width:542px;
  height:22px;
  font-size:18px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  word-wrap:break-word;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2014 {
  position:absolute;
  left:533px;
  top:52px;
  width:29px;
  height:16px;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2016 {
  position:absolute;
  left:20px;
  top:43px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:379px;
}
#u2019 {
  position:absolute;
  left:0px;
  top:321px;
  width:1294px;
  height:379px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:182px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:245px;
}
#u2021 {
  position:absolute;
  left:207px;
  top:388px;
  width:429px;
  height:245px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:114px;
  width:425px;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:181px;
}
#u2023 {
  position:absolute;
  left:656px;
  top:452px;
  width:429px;
  height:181px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:82px;
  width:425px;
  word-wrap:break-word;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2026 {
  position:absolute;
  left:806px;
  top:388px;
  width:129px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2026_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2026.mouseOver {
}
#u2027 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2029 {
  position:absolute;
  left:656px;
  top:428px;
  width:129px;
  height:4px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:-6px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2031 {
  position:absolute;
  left:656px;
  top:388px;
  width:129px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:81px;
}
#u2034 {
  position:absolute;
  left:0px;
  top:700px;
  width:1294px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2035 {
  position:absolute;
  left:2px;
  top:32px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2037 {
  position:absolute;
  left:345px;
  top:701px;
  width:86px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2038 {
  position:absolute;
  left:2px;
  top:29px;
  width:82px;
  word-wrap:break-word;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2039 {
  position:absolute;
  left:227px;
  top:714px;
  width:56px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2040 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2042 {
  position:absolute;
  left:431px;
  top:701px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2043 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2045 {
  position:absolute;
  left:529px;
  top:701px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2046 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2048 {
  position:absolute;
  left:627px;
  top:701px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2049 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2051 {
  position:absolute;
  left:725px;
  top:701px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2054 {
  position:absolute;
  left:823px;
  top:701px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u2055 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:595px;
  background:inherit;
  background-color:rgba(45, 45, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2057 {
  position:absolute;
  left:0px;
  top:889px;
  width:1294px;
  height:595px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:290px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:213px;
}
#u2059 {
  position:absolute;
  left:207px;
  top:1195px;
  width:279px;
  height:213px;
  color:#FFFFFF;
}
#u2060 {
  position:absolute;
  left:2px;
  top:98px;
  width:275px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:213px;
}
#u2061 {
  position:absolute;
  left:508px;
  top:1195px;
  width:279px;
  height:213px;
  color:#FFFFFF;
}
#u2062 {
  position:absolute;
  left:2px;
  top:98px;
  width:275px;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:213px;
}
#u2063 {
  position:absolute;
  left:806px;
  top:1195px;
  width:279px;
  height:213px;
  color:#FFFFFF;
}
#u2064 {
  position:absolute;
  left:2px;
  top:98px;
  width:275px;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:151px;
}
#u2065 {
  position:absolute;
  left:572px;
  top:962px;
  width:151px;
  height:151px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:68px;
  width:147px;
  word-wrap:break-word;
}
