body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1294px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1608px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1608px;
}
#u850 {
  position:absolute;
  left:2px;
  top:796px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:102px;
}
#u853 {
  position:absolute;
  left:657px;
  top:1232px;
  width:428px;
  height:102px;
  color:#999999;
}
#u854 {
  position:absolute;
  left:2px;
  top:43px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u855 {
  position:absolute;
  left:959px;
  top:1255px;
  width:43px;
  height:16px;
  color:#999999;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u857 {
  position:absolute;
  left:873px;
  top:1281px;
  width:129px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u859 {
  position:absolute;
  left:1036px;
  top:1267px;
  width:19px;
  height:32px;
  color:#999999;
}
#u860 {
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:102px;
}
#u862 {
  position:absolute;
  left:207px;
  top:1232px;
  width:429px;
  height:102px;
}
#u863 {
  position:absolute;
  left:2px;
  top:43px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u864 {
  position:absolute;
  left:285px;
  top:1255px;
  width:43px;
  height:16px;
  color:#999999;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#999999;
}
#u866 {
  position:absolute;
  left:285px;
  top:1281px;
  width:129px;
  height:33px;
  font-size:28px;
  color:#999999;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
}
#u868 {
  position:absolute;
  left:237px;
  top:1267px;
  width:19px;
  height:32px;
}
#u869 {
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u870 {
  position:absolute;
  left:1106px;
  top:1208px;
  width:165px;
  height:180px;
}
#u871 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  position:absolute;
  left:0px;
  top:81px;
  width:1294px;
  height:1120px;
}
#u874 {
  position:absolute;
  left:2px;
  top:552px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:28px;
}
#u876 {
  position:absolute;
  left:207px;
  top:1041px;
  width:879px;
  height:112px;
  font-size:16px;
  line-height:28px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:28px;
}
#u878 {
  position:absolute;
  left:207px;
  top:965px;
  width:879px;
  height:56px;
  font-size:16px;
  line-height:28px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  word-wrap:break-word;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u881_img {
  position:absolute;
  left:-30px;
  top:-22px;
  width:610px;
  height:370px;
}
#u881 {
  position:absolute;
  left:372px;
  top:617px;
  width:550px;
  height:310px;
}
#u882 {
  position:absolute;
  left:2px;
  top:147px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u883 {
  position:absolute;
  left:372px;
  top:879px;
  width:550px;
  height:48px;
  color:#FFFFFF;
  text-align:left;
}
#u884 {
  position:absolute;
  left:16px;
  top:16px;
  width:518px;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u885 {
  position:absolute;
  left:1106px;
  top:650px;
  width:165px;
  height:132px;
}
#u886 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:28px;
}
#u887 {
  position:absolute;
  left:207px;
  top:525px;
  width:879px;
  height:56px;
  font-size:16px;
  line-height:28px;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  word-wrap:break-word;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:102px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  position:absolute;
  left:207px;
  top:352px;
  width:879px;
  height:102px;
}
#u891 {
  position:absolute;
  left:2px;
  top:43px;
  width:875px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#AEAEAE;
}
#u892 {
  position:absolute;
  left:1042px;
  top:394px;
  width:25px;
  height:83px;
  font-size:72px;
  color:#AEAEAE;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u894 {
  position:absolute;
  left:273px;
  top:381px;
  width:747px;
  height:44px;
  font-size:18px;
  color:#666666;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#AEAEAE;
}
#u896 {
  position:absolute;
  left:227px;
  top:367px;
  width:25px;
  height:83px;
  font-size:72px;
  color:#AEAEAE;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u899 {
  position:absolute;
  left:390px;
  top:291px;
  width:135px;
  height:16px;
  color:#666666;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:13px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u901 {
  position:absolute;
  left:368px;
  top:293px;
  width:1px;
  height:13px;
  color:#666666;
  text-align:left;
}
#u902 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u903 {
  position:absolute;
  left:207px;
  top:291px;
  width:139px;
  height:16px;
  color:#666666;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u905 {
  position:absolute;
  left:207px;
  top:228px;
  width:832px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  white-space:nowrap;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:42px;
}
#u908 {
  position:absolute;
  left:207px;
  top:121px;
  width:879px;
  height:42px;
}
#u909 {
  position:absolute;
  left:2px;
  top:13px;
  width:875px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u910 {
  position:absolute;
  left:339px;
  top:134px;
  width:323px;
  height:16px;
  color:#666666;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:9px;
}
#u912 {
  position:absolute;
  left:319px;
  top:138px;
  width:5px;
  height:9px;
}
#u913 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u914 {
  position:absolute;
  left:272px;
  top:134px;
  width:29px;
  height:16px;
  color:#999999;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:9px;
}
#u916 {
  position:absolute;
  left:252px;
  top:138px;
  width:5px;
  height:9px;
}
#u917 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u918 {
  position:absolute;
  left:207px;
  top:134px;
  width:29px;
  height:16px;
  color:#999999;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u920 {
  position:absolute;
  left:1106px;
  top:99px;
  width:165px;
  height:150px;
}
#u921 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:81px;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u924 {
  position:absolute;
  left:2px;
  top:32px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u926 {
  position:absolute;
  left:345px;
  top:1px;
  width:86px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u927 {
  position:absolute;
  left:2px;
  top:29px;
  width:82px;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u928 {
  position:absolute;
  left:227px;
  top:14px;
  width:56px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u929 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u931 {
  position:absolute;
  left:431px;
  top:1px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u932 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u934 {
  position:absolute;
  left:529px;
  top:1px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u935 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u937 {
  position:absolute;
  left:627px;
  top:1px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u938 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u940 {
  position:absolute;
  left:725px;
  top:1px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u941 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u943 {
  position:absolute;
  left:823px;
  top:1px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u944 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u946_img {
  position:absolute;
  left:-30px;
  top:-22px;
  width:121px;
  height:121px;
}
#u946 {
  position:absolute;
  left:1116px;
  top:847px;
  width:61px;
  height:61px;
}
#u947 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:-30px;
  top:-22px;
  width:86px;
  height:85px;
}
#u948 {
  position:absolute;
  left:1134px;
  top:864px;
  width:26px;
  height:25px;
}
#u949 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
