body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1294px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1748px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1748px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:866px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:807px;
}
#u1243 {
  position:absolute;
  left:208px;
  top:916px;
  width:878px;
  height:807px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:396px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:317px;
}
#u1245 {
  position:absolute;
  left:348px;
  top:972px;
  width:317px;
  height:317px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:150px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:375px;
}
#u1247 {
  position:absolute;
  left:711px;
  top:939px;
  width:375px;
  height:375px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:180px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:230px;
}
#u1249 {
  position:absolute;
  left:365px;
  top:1350px;
  width:230px;
  height:230px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:107px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:297px;
}
#u1251 {
  position:absolute;
  left:663px;
  top:1364px;
  width:297px;
  height:297px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:140px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u1253 {
  position:absolute;
  left:589px;
  top:1262px;
  width:116px;
  height:116px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:807px;
}
#u1256 {
  position:absolute;
  left:208px;
  top:56px;
  width:878px;
  height:807px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:396px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u1258 {
  position:absolute;
  left:316px;
  top:57px;
  width:184px;
  height:184px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u1260 {
  position:absolute;
  left:902px;
  top:179px;
  width:184px;
  height:184px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u1262 {
  position:absolute;
  left:332px;
  top:642px;
  width:184px;
  height:184px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u1264 {
  position:absolute;
  left:848px;
  top:522px;
  width:184px;
  height:184px;
}
#u1265 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:437px;
}
#u1266 {
  position:absolute;
  left:429px;
  top:241px;
  width:437px;
  height:437px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:210px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
