body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1294px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:5678px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:5678px;
}
#u651 {
  position:absolute;
  left:2px;
  top:2831px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:81px;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:81px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u654 {
  position:absolute;
  left:2px;
  top:32px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u656 {
  position:absolute;
  left:345px;
  top:1px;
  width:86px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u657 {
  position:absolute;
  left:2px;
  top:29px;
  width:82px;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u658 {
  position:absolute;
  left:227px;
  top:14px;
  width:56px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u659 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u661 {
  position:absolute;
  left:431px;
  top:1px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u662 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u664 {
  position:absolute;
  left:529px;
  top:1px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u665 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u667 {
  position:absolute;
  left:627px;
  top:1px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u668 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u670 {
  position:absolute;
  left:725px;
  top:1px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u671 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u673 {
  position:absolute;
  left:823px;
  top:1px;
  width:98px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u674 {
  position:absolute;
  left:2px;
  top:29px;
  width:94px;
  word-wrap:break-word;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:571px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  position:absolute;
  left:0px;
  top:2127px;
  width:1294px;
  height:571px;
}
#u677 {
  position:absolute;
  left:2px;
  top:278px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u680 {
  position:absolute;
  left:323px;
  top:2320px;
  width:45px;
  height:38px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u681 {
  position:absolute;
  left:2px;
  top:11px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:170px;
}
#u682 {
  position:absolute;
  left:362px;
  top:2290px;
  width:425px;
  height:170px;
  color:#FFFFFF;
}
#u683 {
  position:absolute;
  left:2px;
  top:77px;
  width:421px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u684 {
  position:absolute;
  left:208px;
  top:2289px;
  width:101px;
  height:101px;
}
#u685 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  word-wrap:break-word;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u688 {
  position:absolute;
  left:926px;
  top:2520px;
  width:45px;
  height:37px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u689 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:140px;
}
#u690 {
  position:absolute;
  left:508px;
  top:2489px;
  width:424px;
  height:140px;
  color:#FFFFFF;
}
#u691 {
  position:absolute;
  left:2px;
  top:62px;
  width:420px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u692 {
  position:absolute;
  left:985px;
  top:2489px;
  width:101px;
  height:101px;
}
#u693 {
  position:absolute;
  left:2px;
  top:42px;
  width:97px;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u694 {
  position:absolute;
  left:208px;
  top:2193px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u696 {
  position:absolute;
  left:1004px;
  top:2180px;
  width:231px;
  height:84px;
}
#u697 {
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:481px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u699 {
  position:absolute;
  left:0px;
  top:1646px;
  width:1294px;
  height:481px;
}
#u700 {
  position:absolute;
  left:2px;
  top:232px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 8px 30px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 8px 30px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 8px 30px rgba(0, 0, 0, 0.247058823529412);
}
#u702 {
  position:absolute;
  left:207px;
  top:1808px;
  width:877px;
  height:245px;
}
#u703 {
  position:absolute;
  left:2px;
  top:114px;
  width:873px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:245px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  position:absolute;
  left:207px;
  top:1808px;
  width:439px;
  height:245px;
}
#u705 {
  position:absolute;
  left:2px;
  top:114px;
  width:435px;
  word-wrap:break-word;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:245px;
}
#u707 {
  position:absolute;
  left:645px;
  top:1808px;
  width:438px;
  height:245px;
}
#u708 {
  position:absolute;
  left:2px;
  top:114px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:62px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u710 {
  position:absolute;
  left:645px;
  top:1991px;
  width:438px;
  height:62px;
}
#u710_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u710.mouseOver {
}
#u711 {
  position:absolute;
  left:2px;
  top:23px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u712 {
  position:absolute;
  left:1045px;
  top:2013px;
  width:11px;
  height:18px;
}
#u713 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u714 {
  position:absolute;
  left:673px;
  top:2011px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u716 {
  position:absolute;
  left:673px;
  top:1893px;
  width:383px;
  height:76px;
  font-size:16px;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u718 {
  position:absolute;
  left:673px;
  top:1837px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u720 {
  position:absolute;
  left:207px;
  top:1712px;
  width:513px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  white-space:nowrap;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:1057px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u724 {
  position:absolute;
  left:0px;
  top:589px;
  width:1294px;
  height:1057px;
}
#u725 {
  position:absolute;
  left:2px;
  top:520px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:807px;
}
#u727 {
  position:absolute;
  left:208px;
  top:764px;
  width:878px;
  height:807px;
}
#u728 {
  position:absolute;
  left:2px;
  top:396px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u729 {
  position:absolute;
  left:316px;
  top:765px;
  width:184px;
  height:184px;
}
#u730 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u731 {
  position:absolute;
  left:902px;
  top:887px;
  width:184px;
  height:184px;
}
#u732 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u733 {
  position:absolute;
  left:332px;
  top:1350px;
  width:184px;
  height:184px;
}
#u734 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  word-wrap:break-word;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u735 {
  position:absolute;
  left:848px;
  top:1230px;
  width:184px;
  height:184px;
}
#u736 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:437px;
}
#u737 {
  position:absolute;
  left:429px;
  top:949px;
  width:437px;
  height:437px;
}
#u738 {
  position:absolute;
  left:2px;
  top:210px;
  width:433px;
  word-wrap:break-word;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u739 {
  position:absolute;
  left:208px;
  top:658px;
  width:545px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  white-space:nowrap;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u741 {
  position:absolute;
  left:1004px;
  top:658px;
  width:231px;
  height:148px;
}
#u742 {
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:509px;
}
#u744 {
  position:absolute;
  left:0px;
  top:80px;
  width:1294px;
  height:509px;
}
#u745 {
  position:absolute;
  left:2px;
  top:246px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:509px;
}
#u746 {
  position:absolute;
  left:0px;
  top:80px;
  width:1294px;
  height:509px;
}
#u747 {
  position:absolute;
  left:2px;
  top:246px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:68px;
  -moz-box-shadow:0px 8px 30px rgba(0, 0, 0, 0.247058823529412);
  -webkit-box-shadow:0px 8px 30px rgba(0, 0, 0, 0.247058823529412);
  box-shadow:0px 8px 30px rgba(0, 0, 0, 0.247058823529412);
}
#u750 {
  position:absolute;
  left:208px;
  top:403px;
  width:149px;
  height:49px;
}
#u751 {
  position:absolute;
  left:2px;
  top:16px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u752 {
  position:absolute;
  left:238px;
  top:418px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u753 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u755 {
  position:absolute;
  left:312px;
  top:407px;
  width:40px;
  height:40px;
}
#u756 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u757 {
  position:absolute;
  left:329px;
  top:419px;
  width:10px;
  height:16px;
}
#u758 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u759 {
  position:absolute;
  left:208px;
  top:258px;
  width:429px;
  height:88px;
  font-size:18px;
  color:#FFFFFF;
}
#u760 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u761 {
  position:absolute;
  left:208px;
  top:188px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u762 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u763 {
  position:absolute;
  left:1085px;
  top:124px;
  width:150px;
  height:68px;
}
#u764 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
