/*
	改革攻坚专题的样式表

	作者：cyl
	创建时间：2018-08-15 14:50:06;
	最后修改时间：2018-08-29 14:04:13
 */

/*********** 深化改革 **********/
/* 标签页内容 */
#video_reform {
    margin-top: 36px;
}

/* 标签页内的视频 */
#video_reform .card video {
    width: 100%;
}

/* 标签页内的文本 */
#video_reform .text {
    padding-top: 24px;
}

/********** “政”在进行 *********/
/* 编码 */
#gov_online .number {
	color: #D9451F;
	font-size: 130px;
	font-style: italic;
	text-align: center;
}

/* 主要内容 */
#gov_online .main {
	margin-top: -90px;
	padding: 24px;
	padding-top: 50px;
	background: #FFF6F6;
}

/* 标题 */
#gov_online h2 {
	margin-bottom: 40px;
	color: #D9451F;
	text-align: center;
	font-weight: bold;
}

/* 简述 */
#gov_online .resume {
	padding: 16px;
	border: #ECB6A8 1px solid;
	background: #FFFDFD;
}

/* 列表 */
#gov_online ul {
	padding: 0;
	margin: 24px -24px;
	list-style: none;
}

/* 列表条目 */
#gov_online li {
	padding: 24px;
	display: flex;
	transition: background 0.5s;
}
#gov_online li:hover {
	background: #FFE8E8;
}

/* 图标 */
#gov_online .icon {
	width: 60px;
	height: 60px;
	background-color: #eee;
	flex-shrink: 0;
}

/* 文本 */
#gov_online .text {
	margin-left: 24px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	transition: opacity 0.3s;
}

/* 小标题 */
#gov_online h3 {
	width: 100%;
	margin: 8px 0;
	color: #D9451F;
	font-size: 18px;
}

/* 段落 */
#gov_online p {
	opacity: 0.86;
	text-indent: unset;
}

/*********** 扶贫攻坚 **********/
/* 行 */
#aid_the_poor .nomargin {
	margin: 0;
}

/* 版块 */
#aid_the_poor .part {
	transition: background 0.5s;
}

/* 版块01 */
#aid_the_poor .part-1 {
	background-color: #DFE2F0;
}
#aid_the_poor .part-1:hover {
	background-color: #CDD1E4;
}

/* 版块02 */
#aid_the_poor .part-2 {
	background-color: #EEEED8;
}
#aid_the_poor .part-2:hover {
	background-color: #E4E4CB;
}

/* 版块03 */
#aid_the_poor .part-3 {
	background-color: #EEDED8;
}
#aid_the_poor .part-3:hover {
	background-color: #E5D4CD;
}

/* 视频包装 */
#aid_the_poor .part .video-wrapper {
	padding: 0;
	position: relative;
}

/* 视频 */
#aid_the_poor .part video {
	width: 100%;
	display: block;
}

/* 图片 */
#aid_the_poor .part .img {
	height: 400px;
	padding: 0;
	opacity: 0.7;
	position: relative;
	transition: opacity 0.5s;
}
#aid_the_poor .part:hover .img {
	opacity: 1;
}

/* 三角形（指示器） */
#aid_the_poor .part .delta {
	width: 0;
	height: 0;
	border: 24px solid;
	position: absolute;
	transition: border-color 0.5s;
}
#aid_the_poor .part .delta-left {
	top: 50px;
	left: 0;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
}
#aid_the_poor .part .delta-right {
	top: 50px;
	right: 0;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
}
#aid_the_poor .part .delta-top {
	top: 0;
	left: 50px;
	border-left-color: transparent !important;
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
}
#aid_the_poor .part-1 .delta {
	border-color: #DFE2F0;
}
#aid_the_poor .part-1:hover .delta {
	border-color: #CDD1E4;
}
#aid_the_poor .part-2 .delta {
	border-color: #EEEED8;
}
#aid_the_poor .part-2:hover .delta {
	border-color: #E4E4CB;
}
#aid_the_poor .part-3 .delta {
	border-color: #EEDED8;
}
#aid_the_poor .part-3:hover .delta {
	border-color: #E5D4CD;
}

/* 正文 */
#aid_the_poor .part .text {
	padding: 24px;
}

/* 标题 */
#aid_the_poor .part h2 {
	margin: 36px 0;
}

/* 段落 */
#aid_the_poor .part p {
	opacity: 0.86;
}

/*********** 广西生态 **********/
/* 标签按钮栏 */
#ecology_tab .nav-tabs {
	margin: 36px 8px;
	border: none;
	display: flex;
	justify-content: center;
}

/* 标签按钮 */
#ecology_tab .tab-button {
    padding: 12px 40px;
	margin: 0 16px;
    color: inherit;
    font-size: 14px;
	background: unset;
	border: 1px #333 solid;
    border-radius: 9999999999999px;
    display: inline-block;
	transition: all 0.3s;
}
#ecology_tab .tab-button:hover, #ecology_tab .active .tab-button {
	color: #fff;
	border-color: #FF3E00;
	background: #FF3E00;
}

/* 二级标题 */
#ecology_tab h2 {
	margin: 16px 0 40px;
	color: #444;
	font-size: 50px;
	font-weight: 900;
}

/* 了解更多按钮 */
#ecology_tab .button {
	padding: 18px 36px;	
	margin: 36px 0;
	border-radius: 0;
	color: #fff;
	background: #9FCB28;
	transition: all 0.3s;
}
#ecology_tab .button:hover {
	padding-right: 28px;
	background: #B2D74D;
}

/* 了解更多按钮的图标 */
#ecology_tab .button .glyphicon {
	margin-left: 8px;
	transition: all 0.3s;
}
#ecology_tab .button:hover .glyphicon {
	margin-left: 16px;
}

/* 视频 */
#ecology_tab .img {
	height: 500px;
}
