/*
	改革攻坚专题的样式表

	作者：cyl
	创建时间：2018-08-15 14:50:06
	最后修改时间：2018-09-01 23:24:31
 */

/*********** 深化改革 **********/
/* 标签页内容 */
#video_reform {
    margin-top: 36px;
}

/* 标签页内的视频 */
#video_reform .card video {
    width: 100%;
}

/* 标签页内的文本 */
#video_reform .text {
    padding-top: 24px;
}

/********** “政”在进行 *********/
/* 编码 */
#gov_online .number {
	color: #D9451F;
	font-size: 130px;
	font-style: italic;
	text-align: center;
}

/* 主要内容 */
#gov_online .main {
	margin-top: -90px;
	padding: 24px;
	padding-top: 50px;
	background: #FFF6F6;
	border: 1px solid #ffc9c9;
}

/* 标题 */
#gov_online h2 {
	margin-bottom: 40px;
	color: #D9451F;
	text-align: center;
	font-weight: bold;
}

/* 简述 */
#gov_online .resume {
	padding: 16px;
	border: #ECB6A8 1px solid;
	background: #FFFDFD;
}

/* 列表 */
#gov_online ul {
	padding: 0;
	margin: 24px -24px;
	list-style: none;
}

/* 列表条目 */
#gov_online li {
	padding: 24px;
	display: flex;
	transition: background 0.5s;
}
#gov_online li:hover {
	background: #FFE8E8;
}

/* 图标 */
#gov_online .icon {
	width: 60px;
	height: 60px;
	background-color: #eee;
	flex-shrink: 0;
}

/* 文本 */
#gov_online .text {
	margin-left: 24px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	transition: opacity 0.3s;
}

/* 小标题 */
#gov_online h3 {
	width: 100%;
	margin: 8px 0;
	color: #D9451F;
	font-size: 18px;
}

/* 段落 */
#gov_online p {
	opacity: 0.86;
	text-indent: unset;
}

/*********** 扶贫攻坚 **********/
#menuDiv {
	height: 500px;
	width: 100%;
}

/*********** 广西生态 **********/
/* 标签按钮栏 */
#ecology_tab .nav-tabs {
	margin: 36px 8px;
	border: none;
	display: flex;
	justify-content: center;
}

/* 标签按钮 */
#ecology_tab .tab-button {
    padding: 12px 40px;
	margin: 0 16px;
    color: inherit;
    font-size: 14px;
	background: unset;
	border: 1px #333 solid;
    border-radius: 9999999999999px;
    display: inline-block;
	transition: all 0.3s;
}
#ecology_tab .tab-button:hover, #ecology_tab .active .tab-button {
	color: #fff;
	border-color: #FF3E00;
	background: #FF3E00;
}

/* 标签内容 */
#ecology_tab .tab-content {
	perspective: 1000px;
}

/* 版块 */
#ecology_tab .fade{
	background: #f8f8f8;
	transform-style: preserve-3d;
	transform: rotateY(5deg);
	transition: all 0.5s ;
}

/* 版块进入 */
#ecology_tab .fade.in{
	transform: rotateY(0deg);
}

/*  */
#ecology_tab .fade>.col-md-6{
	padding: 15px;
}

/* 二级标题 */
#ecology_tab h2 {
	margin: 24px 0;
	color: #444;
	font-weight: bold;
}

/* 了解更多按钮 */
#ecology_tab .button {
	padding: 18px 36px;	
	margin: 24px 0;
	border-radius: 0;
	color: #fff;
	background: #9FCB28;
	transition: all 0.3s;
}
#ecology_tab .button:hover {
	padding-right: 28px;
	background: #B2D74D;
}

/* 了解更多按钮的图标 */
#ecology_tab .button .glyphicon {
	margin-left: 8px;
	transition: all 0.3s;
}
#ecology_tab .button:hover .glyphicon {
	margin-left: 16px;
}

/* 图片 */
#ecology_tab .img {
	height: 300px;
}
