/*
	共话改革专题的样式表

	作者：cyl
	创建时间：2018-08-18 16:10:05
	最后修改时间：2018-09-02 17:39:07
 */

/******  图文展示 - 横向宽屏  ******/
#menuDiv {
	height: 500px;
	width: 100%;
}

/************ 图文展示 - 网格 ************/

/*  */
#img_wall {
	background: #F8F6F0;
}

/* 简述 */
#img_wall .resume {
    margin: 30px 0 60px;
}

/* 行 */
#img_wall .nomargin {
	margin: 0;
}

/* 版块 */
#img_wall .part {
	transition: background 0.5s;
	background: #fff;
	display: flex;
	flex-grow: 1;
}

/* 版块内嵌行 */
#img_wall .part>.row {
	flex-grow: 1;
}

/* 图片 */
#img_wall .part .img {
	min-height: 200px;
	padding: 0;
	opacity: 0.8;
	position: relative;
	transition: opacity 0.5s;
}
#img_wall .part:hover .img {
	opacity: 1;
}

/* 三角形（指示器） */
#img_wall .part .delta {
	width: 0;
	height: 0;
	border: 12px solid;
	position: absolute;
	border-color: #fff;
	transition: border-color 0.5s;
}
#img_wall .part .delta-left {
	top: 50px;
	left: 0;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
}
#img_wall .part .delta-right {
	top: 50px;
	right: 0;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
}
#img_wall .part .delta-top {
	top: 0;
	left: 50px;
	border-left-color: transparent !important;
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
}

/* 正文 */
#img_wall .part .text {
	padding: 24px;
}

/* 段落 */
#img_wall .part p {
	opacity: 0.86;
}

/************* 老干部 *************/
/* 栏目 */
#laoganbu {
	padding: 0;
}

/* 卡片包装 */
#laoganbu .card-wrapper {
	padding: 200px 0;
	background: rgba(0,0,0,0.6);
}

/* 卡片 */
#laoganbu .card {
	padding: 40px 0;
	color: #fff;
	background-color: rgba(234, 94, 58, 0.8);
	transition: background 0.5s;
}
#laoganbu .card:hover {
	background-color: #EA5E3A;
}

/* 标题 */
#laoganbu .card h1 {
	margin: 24px 32px 40px;
}

/************** 评论 **************/
/* 评论 */
.comment {
	display: flex;
	perspective: 1000px;
}

/* 时间线 */
.comment .timeline {
	width: 1px;
	margin: 0 8px;
	background: red;
	position: relative;
	flex-shrink: 0;
}
.comment .timeline:before {
	content: "";
	width: 12px;
	height: 12px;
	margin: 36px 0 0 -6px;
	background: #fff;
	border: red 2px solid;
	border-radius: 99999999999px;
	display: block;
	position: absolute;
	transition: all 0.5s;
}
.comment:hover .timeline:before {
	background: red;
	transform: scale(1.5);
}

/* 文本包装 */
.comment .text-wrapper {
	display: flex;
	transform-origin: 0 42px;
	transition: transform 0.5s;
}
.comment .text-wrapper:before {
	content: "";
	margin-top: 34px;
	border: transparent 8px solid;
	border-right-color: #eee;
	flex-shrink: 0;
	align-self: flex-start;
}
.comment:hover .text-wrapper {
	transform: rotate3d(15,15,0,10deg);
}

/* 文本 */
.comment .text {
	padding: 16px 32px;
	margin: 16px 0;
	background: #eee;
}

/* 标题 */
.comment .text h2 {
	margin: 8px 0;
	font-size: 24px;
}

/* 段落 */
.comment .text p {
	opacity: 0.8;
}

/* 活动 */
.comment .action {
    color: #000;
    float: right;
    display: block;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #000 2px solid;
}
