/*
	共话改革专题的样式表

	作者：cyl
	创建时间：2018-08-18 16:10:05
	最后修改时间：2018-08-30 18:50:35
 */

/******  图文展示 - 横向宽屏  ******/
/* 每个部分 */
.pic-text-show .part {
    padding: 16px;
}

/* 图片包装 */
.pic-text-show .part .img-wrapper {
    height: 200px;
    overflow: hidden;
}

/* 图片 */
.pic-text-show .part .img {
    height: 100%;
    transition: transform 0.8s;
}
.pic-text-show .part:hover .img {
    transform: scale(1.1);
}

/* 标题 */
.pic-text-show .part h2 {
    margin: 28px 0;
    font-size: 24px;
}

/* 分割线 */
.pic-text-show .part hr {
    height: 1px;
    margin: 24px 0;
    border: none;
    background: #dfdfdf;
}
.pic-text-show .part hr:after {
    width: 0;
    height: 100%;
    content: "";
    background: #999;
    display: block;
    transition: width 0.8s;
}
.pic-text-show .part:hover hr:after {
    width: 100%;
}

/* 段落 */
.pic-text-show .part p {
    opacity: 0.86;
    transition: all 0.3s;
}
.pic-text-show .part:hover p {
    opacity: 1;
}

/* 按钮 */
.pic-text-show .part .button {
    margin: 16px 0;
    opacity: 0.5;
    transition: all 0.8s;
}
.pic-text-show .part:hover .button {
    opacity: 1;
}

/******** 图文展示 - 瀑布流 ********/
/* 瀑布流图文展示 */
.img-show-wf {
	margin-top: 26px;
}

/* 文本 */
.img-show-wf .text {
	padding-top: 15px;
	padding-right: 6%;
}

/* 图片包装 */
.img-show-wf .img-wrapper {
	padding-top: 15px;
	padding-bottom: 15px;
}
.img-show-wf .img-wrapper:nth-child(2) {
}
.img-show-wf .img-wrapper:nth-child(3) {
	margin-top: 120px;
}
.img-show-wf .img-wrapper:nth-child(4) {
	margin-top: -50px;
}
.img-show-wf .img-wrapper:nth-child(5) {
	margin-top: -180px;
}
.img-show-wf .img-wrapper:nth-child(6) {
	margin-top: -120px;
}
.img-show-wf .img-wrapper:nth-child(7) {
	margin-top: -60px;
	margin-right: 1px;
}

/* 图片 */
.img-show-wf .img {
	height: 240px;
	background-color: #eee;
	transition: all 0.5s;
}
.img-show-wf .img:hover {
	transform: scale(1.1);
	box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

/* 适配最小屏幕 */
@media (max-width: 768px) {
	.img-show-wf .img-wrapper {
		margin: 0 !important;
	}
}

/************* 老干部 *************/
/* 栏目 */
#laoganbu {
	padding: 0;
}

/* 卡片包装 */
#laoganbu .card-wrapper {
	padding: 200px 16px;
	background: rgba(0,0,0,0.6);
}

/* 卡片 */
#laoganbu .card {
	padding: 40px 0;
	color: #fff;
	background-color: #EA5E3AD0;
	transition: background 0.5s;
}
#laoganbu .card:hover {
	background-color: #EA5E3A;
}

/* 标题 */
#laoganbu .card h1 {
	margin: 24px 32px 40px;
}

/************** 评论 **************/
/* 评论 */
.comment {
	display: flex;
	perspective: 1000px;
}

/* 时间线 */
.comment .timeline {
	width: 1px;
	margin: 0 8px;
	background: red;
	position: relative;
	flex-shrink: 0;
}
.comment .timeline:before {
	content: "";
	width: 12px;
	height: 12px;
	margin: 36px 0 0 -6px;
	background: #fff;
	border: red 2px solid;
	border-radius: 99999999999px;
	display: block;
	position: absolute;
	transition: all 0.5s;
}
.comment:hover .timeline:before {
	background: red;
	transform: scale(1.5);
}

/* 文本包装 */
.comment .text-wrapper {
	display: flex;
	transform-origin: 0 42px;
	transition: transform 0.5s;
}
.comment .text-wrapper:before {
	content: "";
	margin-top: 34px;
	border: transparent 8px solid;
	border-right-color: #eee;
	flex-shrink: 0;
	align-self: flex-start;
}
.comment:hover .text-wrapper {
	transform: rotate3d(15,15,0,10deg);
}

/* 文本 */
.comment .text {
	padding: 16px 32px;
	margin: 16px 0;
	background: #eee;
}

/* 标题 */
.comment .text h2 {
	margin: 8px 0;
	font-size: 24px;
}

/* 段落 */
.comment .text p {
	opacity: 0.8;
}

/* 活动 */
.comment .action {
    color: #000;
    float: right;
    display: block;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #000 2px solid;
}
