/*
五彩八桂样式
作者：Hshijie
时间：2018.8.12
最后修改时间：2018-09-01 22:45:47 cyl
*/

/*********** 经济特区 **********/
/* 每个部分 */
#special_economic_zone .part {
    padding: 16px;
}

/* 图片包装 */
#special_economic_zone .part .img-wrapper {
    height: 270px;
    overflow: hidden;
}

/* 图片 */
#special_economic_zone .part .img {
    height: 100%;
    transition: transform 0.8s;
}
#special_economic_zone .part:hover .img {
    transform: scale(1.1);
}

/* 标题 */
#special_economic_zone .part h2 {
    margin: 28px 0;
    font-size: 24px;
}

/* 分割线 */
#special_economic_zone .part hr {
    height: 1px;
    margin: 24px 0;
    border: none;
    background: #dfdfdf;
}
#special_economic_zone .part hr:after {
    width: 0;
    height: 100%;
    content: "";
    background: #999;
    display: block;
    transition: width 0.8s;
}
#special_economic_zone .part:hover hr:after {
    width: 100%;
}

/* 段落 */
#special_economic_zone .part p {
    opacity: 0.86;
    transition: all 0.3s;
}
#special_economic_zone .part:hover p {
    opacity: 1;
}

/* 按钮 */
#special_economic_zone .part .button {
    margin: 16px 0;
    opacity: 0.5;
    transition: all 0.8s;
}
#special_economic_zone .part:hover .button {
    opacity: 1;
}

/*********** 图片墙 **********/
/* 图片 */
.pic-wall .img {
    position: relative;
}

/* 宽的方块 */
.pic-wall .col-md-8 {
    height: 700px;
}

/* 窄的方块 */
.pic-wall .col-md-4 {
    height: 350px;
}

/* 文本 */
.pic-wall .img .text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 36px;
    padding-right: 30%;
    color: rgba(255,255,255,0.86);
    background: rgba(0,0,0,0.3);
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: opacity 1s, color 0.8s;
}
.pic-wall .img:hover .text {
    color: transparent;
    opacity: 0;
}

/* 文本标题 */
.pic-wall .img .text h2 {
    margin: 20px 0;
    font-size: 30px;
}

/* 文本段落 */
.pic-wall .img .text p {
    text-indent: unset;
}

/*********** 第二栏 **********/
/* 每个部分 */
#second_part .pane {
    margin-top: 24px;
    overflow: hidden;
}

/* 卡片 */
#second_part .pane .card {
    width: 30%;
    margin: 36px 0;
    float: left;
}

/* 卡片里的图片 */
#second_part .pane .card img {
    width: 100%;
}

/* 描述 */
#second_part .pane .text {
    padding: 16px 32px 16px 30%;
    margin-left: 36px;
    background: #f8f8f8;
}

/* 描述的标题 */
#second_part .pane .text h2 {
    margin-bottom: 24px;
}

/* 按钮栏 */
#second_part .pane .action-bar {
    margin: 24px 0 16px;
    font-size: 16px;
    overflow: hidden;
}

/* 按钮 */
#second_part .pane .action {
    color: #000;
    float: right;
    display: block;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #000 2px solid;
}

/*********** 文化类 **********/
/* 行 */
#culture>.row {
    margin-top: 60px;
}

/* 标题 */
#culture>.row h2 {
    margin: 24px 0;
}

/* 轮播页面 */
.swiper-slide {
    height: 400px;
    position: relative;
}

/* 图片描述 */
.swiper-slide .text {
    padding: 16px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
