/*
经济栏样式
作者：Hshijie
时间：2018.8.12
最后修改时间：2018-08-16 16:16:39 cyl
*/

/*********** 经济特区 **********/
#special_economic_zone .col-md-4 {
    padding: 16px;
}

/*********** 第二栏 **********/
/* 每个部分 */
#second_part .pane {
    margin-top: 24px;
    overflow: hidden;
}

/* 卡片 */
#second_part .pane .card {
    width: 30%;
    margin: 36px 0;
    float: left;
}

/* 卡片里的图片 */
#second_part .pane .card img {
    width: 100%;
}

/* 描述 */
#second_part .pane .text {
    padding: 16px 32px 16px 30%;
    margin-left: 36px;
    background: #f8f8f8;
}

/* 描述的标题 */
#second_part .pane .text h2 {
    margin-bottom: 24px;
}

/* 按钮栏 */
#second_part .pane .action-bar {
    margin: 24px 0 16px;
    font-size: 16px;
    overflow: hidden;
}

/* 按钮 */
#second_part .pane .action {
    color: #000;
    float: right;
    display: block;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #000 2px solid;
}

/*********** 第三栏 **********/
/* 文章列表 */
#article_list {
    padding: 0;
    margin-top: 24px;
}

/* 文章列表选项 */
#article_list li {
    margin-bottom: 16px;
    list-style: none;
}

/* 列表项的链接 */
#article_list li>a {
    color: #000;
    padding: 16px;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    transition: all 0.3s;
}
#article_list li>a:hover {
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

/* 列表项的图标 */
#article_list li .icon {
    width: 100px;
    height: 100px;
    background: #eee;
    border-radius: 50px;
    flex-shrink: 0;
}

/* 列表项的文本 */
#article_list li .text {
    margin: 4px 0 4px 16px;
}

/* 列表项的标题 */
#article_list li .title {
    font-size: 16px;
}

/* 列表项的副标题 */
#article_list li .subtitle {
    margin-top: 8px;
    opacity: 0.7;
}

/*********** 第四栏 **********/
/* 轮播 */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* 轮播页面 */
.swiper-slide {
    width: 40%;
    height: 200px;
}
