/*
    时代先锋专题样式表

    作者：cyl
    创建日期：2018-08-16 17:38:34
    最后修改时间：2018-09-02 13:13:38
 */

/************ 中央综合推荐 ************/
/* 视频 */
#video_recommend .video-wrapper video {
    width: 100%;
}

/* 文本 */
#video_recommend .text {
    padding-top: 24px;
}

/*************** 时代 ***************/
/* 版块 */
#human .row {
    margin: 32px 0;
    padding: 30px 15px;
    background: #f8f8f8;
    position: relative;
}

/* 背景 */
#human .row>.bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#human .row>.bg-to-right {
    right: 100%;
}
#human .row>.bg-to-left {
    left: 100%;
}
#human .row:hover>.bg {
    left: 0;
    right: 0;
    opacity: 1;
}

/* 图片 */
#human img {
    width: 100%;
}

/* 标题 */
#human h2 {
    color: #444;
    margin: 16px 0 36px;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

/* 姓名 */
#human h2 .name {
    width: 100%;
    text-align: center;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
}

/* 标签 */
#human h2 .tag {
    color: #fff;
    padding: 8px 16px;
    margin-top: 20px;
    margin-right: 12px;
    font-size: 16px;
    font-weight: normal;
    background: rgba(0,0,0,0.3);
}

/* 按钮 */
#human .button {
    margin: 24px 0;
}

/*************** 风采 ***************/
/* 栏目 */
#mien_tab {
    color: #fff;
    position: relative;
}

#mien_tab .tab {
    margin: 50px 0;
}

/* 标签栏 */
#mien_tab .nav-tabs {
    margin: 60px 0;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* 标签 */
#mien_tab .tab-label {
    margin: 0;
    padding: 18px 44px;
    color: inherit;
    border: none;
    border-radius: 0;
    background-color: #665094;
    opacity: 0.6;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#mien_tab .tab-label:hover, #mien_tab .active .tab-label {
    opacity: 1;
    background-color: #665094;
}

/* 标签页 */
#mien_tab .tab-pane {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* 标签页包装 */
#mien_tab .tab-pane-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
}

/* 标签页中的图片 */
#mien_tab .tab-pane-wrapper>.img {
    width: 50%;
    height: 300px;
    background-color: #eee;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
}

/* 标签页中的卡片 */
#mien_tab .tab-pane-wrapper>.card {
    width: 60%;
    margin-top: 36px;
    margin-left: -10%;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    background: #665094;
}

/* 背景层 */
#mien_tab .bg, #mien_tab .bg:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#mien_tab .bg {
    z-index: -1;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}
#mien_tab .bg:after {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.7);
}
