/*
	时代先锋专题样式表

	作者：cyl
	创建日期：2018-08-16 17:38:34
	最后修改时间：2018-08-29 20:36:22
 */

/************ 中央综合推荐 ************/
/* 视频 */
#video_recommend .video-wrapper video {
    width: 100%;
}

/* 文本 */
#video_recommend .text {
    padding-top: 24px;
}

/*************** 时代 ***************/

#human .row {
    margin: 32px 0;
}

#human img {
    width: 100%;
}

#human h2 {
    color: #444;
    margin: 16px 0 40px;
    font-size: 40px;
    font-weight: 900;
}

#human .button {
    margin: 24px 0;
}

/*************** 风采 ***************/
/* 栏目 */
#mien_tab {
    color: #fff;
    position: relative;
}

#mien_tab .tab {
    margin: 50px 0;
}

/* 标签栏 */
#mien_tab .nav-tabs {
    margin: 60px 0;
    border: none;
    display: flex;
    justify-content: center;
}

/* 标签 */
#mien_tab .tab-label {
    margin: 0;
    padding: 18px 44px;
    color: inherit;
    border: none;
    border-radius: 0;
    background-color: #665094;
    opacity: 0.6;
    transition: all 0.3s;
}
#mien_tab .tab-label:hover, #mien_tab .active .tab-label {
    opacity: 1;
    background-color: #665094;
}

/* 标签页 */
#mien_tab .tab-pane {
    transition: all 1s;
}

/* 标签页包装 */
#mien_tab .tab-pane-wrapper {
    display: flex;
    align-items: flex-start;
}

/* 标签页中的图片 */
#mien_tab .tab-pane-wrapper>.img {
    width: 50%;
    height: 300px;
    background-color: #eee;
    flex-shrink: 0;
}

/* 标签页中的卡片 */
#mien_tab .tab-pane-wrapper>.card {
    width: 60%;
    margin-top: 36px;
    margin-left: -10%;
    flex-shrink: 0;
    background: #665094;
}

/* 背景层 */
#mien_tab .bg, #mien_tab .bg:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#mien_tab .bg {
    z-index: -1;
    transition: background 0.5s;
}
#mien_tab .bg:after {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.7);
}
