/*
    首页的样式表

    作者：cyl
    创建时间：2018-08-13 10:23:36
    最后修改时间：2018-08-27 09:52:58
 */

/* 视频 */
.top-video>video {
    width: 100%;
}

/************ 视频标签页 ************/
/* 视频包装 */
#video_show .video-wrapper {
    padding-right: 30px;
    padding-bottom: 15px;
}

/* 视频 */
#video_show .video-wrapper video {
    width: 100%;
    display: block;
    box-shadow: #DBDAEE 15px 15px;
}

/* 文本 */
#video_show .text {
    padding-top: 15px;
}

/************ 新版手风琴 ************/
/* 手风琴容器 */
.cn-collapse-container {
    height: 400px;
    display: flex;
}

/* 手风琴 */
.cn-collapse {
    width: 0;
    overflow: hidden;
    background-color: #eee;
    border-right: #fff 1px solid;
    flex-grow: 1;
    position: relative;
    transition: all 1s;
}

.cn-collapse:last-of-type {
    border-right: none;
}

/* 激活的手风琴 */
.cn-collapse-container .active {
    width: 40%;
}

/* 内容 */
.cn-collapse .content {
    height: 200px;
    padding: 8px 16px;
    background: rgba(255,255,255,0.8);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 100px;
    transition: inherit;
}

/* 激活的手风琴的内容 */
.cn-collapse-container .active .content {
    height: auto;
    bottom: 0;
}

/* 预览标题 */
.cn-collapse .title {
    height: 100%;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

/* 激活的手风琴的标题 */
.cn-collapse-container .active .title {
    height: 0;
    padding: 0;
    opacity: 0;
}

/* 正文 */
.cn-collapse .text {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 1s 0.3s;
}

/* 激活的手风琴的正文 */
.cn-collapse-container .active .text {
    height: auto;
    opacity: 1;
}

/* 正文标题 */
.cn-collapse .text h2 {
    margin: 16px 0;
    font-weight: bold;
}

/********* 现代翻转卡片 *********/
/* 垂直翻转 */
.flip-v {
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    perspective: 1000px;
}
/* 底版 */
.flip-v:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #C6D7EC;
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 0;
}

/* 前面和背面 */
.flip-v>.front, .flip-v>.back {
    width: 100%;
    height: 100%;
    padding: 36px 52px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 0.8s;
}
/* 前面 */
.flip-v>.front {
    color: #fff;
    font-size: 28px;
    line-height: 40px;
    text-shadow: rgba(0,0,0,0.7) 0 0 8px;
}
.flip-v:hover>.front {
    transform: rotateY(180deg);
}
/* 背面 */
.flip-v>.back {
    color: #666;
    font-size: 18px;
    line-height: 28px;
    background-color: #eee;
    transform: rotateY(-180deg);
}
.flip-v:hover>.back {
    transform: rotateY(0deg);
}

/************* 未来列表 *************/
/* 列表条目 */
.base-item {
    padding: 32px 15px;
    display: flex;
    align-items: flex-start;
}

/* 条目图标 */
.base-item .icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #eee;
    flex-shrink: 0;
}

/* 条目文本 */
.base-item .text {
    margin: 0 32px;
    flex-grow: 1;
}

/* 条目标题 */
.base-item h2 {
    margin-top: 8px;
    font-size: 24px;
    font-weight: bold;
}

/* 条目段落 */
.base-item p {
    text-indent: unset;
}
