/*
    适用于全局的样式表

    作者：cyl
    创建时间：2018-08-08 11:02:59
    最后修改时间：2018-08-31 15:56:43
 */

/************** 通用 **************/
/* 产生圆角 */
.fillet {
    border-radius: 8px;
}

/* 背景用于显示图片 */
.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* 行（响应式布局） */
.row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

/************** 常规 **************/
/* body */
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* 基本段落 */
p {
    text-indent: 2em;
}

/* 锚（超链接） */
a {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

/* 视频 */
video {
    background-color: #000;
}

/************* 导航栏 *************/
/* 导航栏默认样式 */
.navbar-default {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(248, 248, 248, 0.9);
    text-shadow: 0 0 8px #fff;
    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
    background-color: unset;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover{
    background-color: unset;
}

/* 选项默认样式 */
.navbar-default .navbar-nav>li>a {
    padding-top: 24px;
    padding-bottom: 24px;
}
.navbar-default .navbar-nav>li>a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.08);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-default .navbar-nav>li>a:hover:before, .navbar-default .navbar-nav>.active>a:before, .navbar-default .navbar-nav>.active>a:focus:before, .navbar-default .navbar-nav>.active>a:hover:before  {
    bottom: 0;
    opacity: 1;
}

/* 导航栏标志 */
.navbar-brand {
    height: auto;
}

/* 导航栏logo */
.navbar-brand img.logo {
    height: 38px;
}

/* 导航栏切换按钮 */
.navbar-default .navbar-toggle {
    margin-top: 15px;
}

/************* 全景图 *************/
/* 屏幕 */
#scene {
    height: 650px;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

/* 蒙板 */
#scene .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

/* 文本 */
#scene .text {
    margin-top: 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

/* 标题 */
#scene .text .title {
    margin: 0 -30px;
    padding: 0;
    color: #4767a9;
    font-size: 80px;
    border: unset;
    text-shadow: 4px 4px #84c7dc;
}

/* 边框 */
#scene .text .border {
    height: 200px;
}

/************** 栏目 **************/
/* 基本栏目 */
section {
    padding-top: 52px;
    padding-bottom: 52px;
/*    border: 1px solid #aaa;  /* cyl - TODO: only testing; */
}

/* 头图 */
.top-pic {
    padding: 0;
    background-color: #eee;
}

/* 头图的图片 */
.top-pic>img {
    width: 100%;
}

/************** 标题 **************/
/* 基本一级标题 */
section h1 {
    padding-bottom: 8px;
    margin-bottom: 36px;
    border-bottom: #aaa solid 1px;
}

/************** 卡片 **************/
/* 普通卡片 */
.card {
    padding: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 20px rgba(0,0,0,0.2);
            box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* 扁平卡片 */
.card-flat {
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* 卡片中的图片和视频 */
.card .img, .card video {
    display: block;
}

/* 卡片中的标题和段落 */
.card h2, .card p, .card .button {
    margin: 24px 32px;
}

/* 卡片中的标题 */
.card h2 {
    font-weight: normal;
}

/* 垂直卡片中的图片包装 */
.card-vertical .img-wrapper {
    height: 300px;
    overflow: hidden;
}

/* 垂直卡片中的图片 */
.card-vertical .img {
    height: 100%;
    background-color: #eee;
}

/************** 按钮 **************/
/* 基本按钮 */
.button {
    padding: 12px 24px;
    color: inherit;
    font-size: 14px;
    background: #eee;
    border: none;
    border-radius: 8px;
    display: inline-block;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}
.button:hover, .button:focus  {
    color: inherit;
    text-decoration: none;
}
.button:hover {
    background: #ddd;
}
.button:focus {
    outline: none;
}

/* 全圆角的按钮 */
.button-fullradius {
    border-radius: 9999999999999999px;
}

/* 带阴影的按钮 */
.button-shadow {
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.3);
            box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/**************** 巨幕 ****************/
/* 巨幕中的标题 */
.jumbotron h1 {
    font-size: 40px;
}

/* 巨幕中的段落 */
.jumbotron p {
    margin-top: 32px;
}

/* 巨幕中的按钮 */
.jumbotron .button {
    margin-top: 24px;
}

/*************** 面包屑 ***************/
.breadcrumb {
    margin: 36px 0;
    padding: 0;
    background: unset;
}

/************** 页面底部 **************/
/* 底部 */
footer {
    padding-top: 56px;
    padding-bottom: 56px;
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#565656) , to(#282828));
    background: -webkit-linear-gradient(left, #565656 , #282828);
    background: -o-linear-gradient(left, #565656 , #282828);
    background: linear-gradient(to right, #565656 , #282828);
}

/* 底部的链接 */
footer a {
    color: rgba(255,255,255,0.5);
}
footer a:hover, footer a:focus {
    color: #fff;
    text-decoration: none;
}

/* 底部的容器 */
footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

/* 版权信息 */
footer .copyright {
    margin-top: 36px;
    color: rgba(255,255,255,0.5);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* 网站地图 */
footer .sitemap {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* 网站地图的条目 */
footer .sitemap li {
    margin: 4px 16px;
    list-style: none;
}

/* 适配中大屏幕 */
@media (min-width: 992px) {
    /* 版权信息 */
    footer .copyright {
        margin: 0;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    /* 网站地图 */
    footer .sitemap {
        width: auto;
    }
}
