/*
    适用于全局的样式表

    作者：cyl
    创建时间：2018-08-08 11:02:59
    最后修改时间：2018-08-31 12:36:42
 */

/************** 通用 **************/
/* 产生圆角 */
.fillet {
    border-radius: 8px;
}

/* 背景用于显示图片 */
.img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/************** 常规 **************/
/* body */
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* 基本段落 */
p {
    text-indent: 2em;
}

/* 锚（超链接） */
a {
    transition: color 0.3s;
}

/* 视频 */
video {
    background-color: #000;
}

/************** 栏目 **************/
/* 基本栏目 */
section {
    padding-top: 52px;
    padding-bottom: 52px;
/*    border: 1px solid #aaa;  /* cyl - TODO: only testing; */
}

/* 头图 */
.top-pic {
    padding: 0;
    background-color: #eee;
}

/* 头图的图片 */
.top-pic>img {
    width: 100%;
}

/************** 标题 **************/
/* 基本一级标题 */
section h1 {
    padding-bottom: 8px;
    margin-bottom: 36px;
    border-bottom: #aaa solid 1px;
}

/************** 卡片 **************/
/* 普通卡片 */
.card {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    overflow: hidden;
}

/* 扁平卡片 */
.card-flat {
    box-shadow: none;
}

/* 卡片中的图片和视频 */
.card .img, .card video {
    display: block;
}

/* 卡片中的标题和段落 */
.card h2, .card p, .card .button {
    margin: 24px 32px;
}

/* 卡片中的标题 */
.card h2 {
    font-weight: normal;
}

/* 垂直卡片中的图片包装 */
.card-vertical .img-wrapper {
    height: 300px;
    overflow: hidden;
}

/* 垂直卡片中的图片 */
.card-vertical .img {
    height: 100%;
    background-color: #eee;
}

/************** 按钮 **************/
/* 基本按钮 */
.button {
    padding: 12px 24px;
    color: inherit;
    font-size: 14px;
    background: #eee;
    border: none;
    border-radius: 8px;
    display: inline-block;
    transition: background 0.3s;
}
.button:hover, .button:focus  {
    color: inherit;
    text-decoration: none;
}
.button:hover {
    background: #ddd;
}
.button:focus {
    outline: none;
}

/* 全圆角的按钮 */
.button-fullradius {
    border-radius: 9999999999999999px;
}

/* 带阴影的按钮 */
.button-shadow {
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/**************** 巨幕 ****************/
/* 巨幕中的标题 */
.jumbotron h1 {
    font-size: 40px;
}

/* 巨幕中的段落 */
.jumbotron p {
    margin-top: 32px;
}

/* 巨幕中的按钮 */
.jumbotron .button {
    margin-top: 24px;
}

/*************** 面包屑 ***************/
.breadcrumb {
    margin: 36px 0;
    padding: 0;
    background: unset;
}

/************** 页面底部 **************/
footer {
    padding-top: 56px;
    padding-bottom: 56px;
    color: #fff;
    background: #2E2E2E;
}
