/*
	布局广西专题的样式表

	作者：cyl
	创建时间：2018-08-19 11:26:45
	最后修改时间：2018-08-20 00:27:57
 */

/************** 新闻 **************/
/* 新闻条目 */
.news-item {
	padding: 24px 16px;
	color: unset;
	display: block;
	transition: all 0.3s;
}
.news-item:hover, .news-item:focus {
	color: #1D81FF;
	background: #eee;
	text-decoration: none;
}

/* 新闻的标题 */
.news-item h2 {
	margin: 0;
	font-size: 20px;
	text-align: center;
}

/* 新闻的简述 */
.news-item p {
	margin: 16px 0 0 0;
	font-size: 12px;
}

/******* 轮播 *******/
/* 轮播 */
.swiper-container {
	height: 360px;
	margin-top: 36px;
}

/* 轮播图片 */
.swiper-container .img {
	width: 300px;
}

/* 轮播信息 */
.swiper-container .msg {
	color: #fff;
	padding: 8px 16px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

/********** 时间线标签页 **********/
/* 时间线标签页 */
.tab-timeline {
	margin-top: 36px;
}

/* 标签栏 */
.tab-timeline .tabar {
	margin: 24px 0;
	padding: 16px 0;
	display: flex;
}

/* 标签 */
.tab-timeline .tabar .tab {
	color: #000;
	text-decoration: none;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* 时间线 */
.tab-timeline .tabar .timeline {
	width: 100%;
	padding: 18px 0;
	position: relative;
}
.tab-timeline .tabar .timeline:before {
	content: "";
	height: 1px;
	display: block;
	background: red;
}

/* 时刻（指示器） */
.tab-timeline .tabar .time {
	width: 100%;
	position: absolute;
	top: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tab-timeline .tabar .time:before, .tab-timeline .tabar .time:after {
	content: "";
	height: 6px;
	width: 6px;
	display: block;
	background: #fff;
}

/* 圆点（指示器内部） */
.tab-timeline .tabar .time .dot {
	content: "";
	padding: 3px;
	display: block;
	background: #fff;
	border: 1px red solid;
	border-radius: 999999999999px;
}
.tab-timeline .tabar .time .dot:after {
	content: "";
	display: block;
	height: 15px;
	width: 15px;
	border: red 1px solid;
	border-radius: 999999999999px;
}

/* 激活的圆点（指示器内部） */
.tab-timeline .tabar .active .time .dot:after {
	background: red;
}

/* 标签页内容 */
.tab-timeline .tab-content {
	padding: 16px 36px;
	border: #F7D4D4 1px solid;
	overflow: hidden;
}

/* 标签页标题 */
.tab-timeline .tab-content h2 {
	text-align: center;
}

/* 标签页的活动 */
.tab-timeline .tab-content .action {
	margin: 16px 0;
    color: #000;
    float: right;
    display: block;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #000 2px solid;
}

/********** 栏目（3） **********/
/* 通用 */
.base-img, .news-item {
	margin-top: 15px;
	margin-bottom: 15px;
}

/* 基本图片 */
.base-img {
	height: 240px;
	position: relative;
}

/* 基本图片的描述 */
.base-img .msg {
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px 16px;
	background: rgba(0,0,0,0.5);
}

/**************** 聊天界面 ****************/
/* 聊天 */
.chat {
    margin-top: 50px;
}

/* 聊天对话 */
.chat-dialogue {
    display: flex;
    margin: 36px 0  ;
}

/* 聊天头像 */
.chat-head {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    flex-shrink: 0;
    background-color: #eee; /* cyl - TODO: only dome */
}

/* 聊天气泡 */
.chat-bubble {
    max-width: 50%;
    margin: 0 8px;
    display: flex;
}

.chat-dialogue-left, .chat-dialogue-left .chat-bubble {
    flex-direction: row;
}
.chat-dialogue-right, .chat-dialogue-right .chat-bubble {
    flex-direction: row-reverse;
}

/* 聊天气泡的指示器（三角形） */
.chat-dialogue .chat-bubble:before {
    width: 0px;
    height: 0px;
    content: "";
    margin-top: 40px;
    border: 10px transparent solid;
}
.chat-dialogue-left .chat-bubble:before {
    border-right: 17px #eee solid;
}
.chat-dialogue-right .chat-bubble:before {
    border-left: 17px #eee solid;
}

/* 聊天信息 */
.chat-msg {
    padding: 24px;
    background-color: #eee;
    border-radius: 8px;
}
