/*
	壮乡发展专题的样式表

	作者：cyl
	创建时间：2018-08-19 11:26:45
	最后修改时间：2018-09-04 00:20:08
 */

/************** 新闻 **************/
/* 版块 */
#news_wall .part {
	padding: 8px;
}

/* 版块包装 */
#news_wall .part-wrapper {
	overflow: hidden;
	background: #f8f8f8;
	position: relative;
}

/* 版块包装和图片包装 */
#news_wall .part-sm .part-wrapper, #news_wall .part-big .img-wrapper {
	padding: 30px;
}

/* 背景 */
#news_wall .part-wrapper>.bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#news_wall .part-wrapper>.bg-to-right {
    right: 100%;
}
#news_wall .part-wrapper>.bg-to-left {
    left: 100%;
}
#news_wall .part-wrapper:hover>.bg {
    left: 0;
    right: 0;
    opacity: 1;
}

/* 大板块的背景 */
#news_wall .part-big .part-wrapper>.bg {
	background: #E6ECF6;
}

/* 小板块的背景 */
#news_wall .part-sm .part-wrapper>.bg {
	background: #EAF5EA;
}

/* 大板块的图片 */
#news_wall .part-big .img {
	height: 500px;
}

/* 大板块的文本 */
#news_wall .part-big .text {
	padding: 30px;
}

/* 大板块的文本 */
#news_wall .part-sm .text {
	position: relative;
}

/* 版块的标题 */
#news_wall .part h2 {
	margin-bottom: 24px;
}

/* 版块的按钮 */
#news_wall .part .button {
	margin: 16px 0;
}

/********** 时间线标签页 **********/
/* 时间线标签页 */
.tab-timeline {
	margin-top: 36px;
	position: relative;
}

/* 标签栏 */
.tab-timeline .nav-tabs {
	margin: 24px 0;
	padding: 16px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border: none;
}

/* 标签栏条目 */
.tab-timeline .nav-tabs>li {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

/* 标签 */
.tab-timeline .nav-tabs>li>a {
	padding: 0;
	margin: 0;
	border: none;
	color: rgba(0,0,0,0.5);
	text-decoration: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.tab-timeline .nav-tabs>li>a:hover, .tab-timeline .nav-tabs>li>a:focus {
	background: unset;
	border: none;
}
.tab-timeline .nav-tabs>li>a:hover, .tab-timeline .nav-tabs>li.active>a {
	color: #000;
	background: unset;
}


/* 时间线 */
.tab-timeline .nav-tabs .timeline {
	width: 100%;
	padding: 18px 0;
	position: relative;
}
.tab-timeline .nav-tabs .timeline:before {
	content: "";
	height: 1px;
	display: block;
	background: red;
}

/* 时刻（指示器） */
.tab-timeline .nav-tabs .time {
	width: 100%;
	position: absolute;
	top: 7px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.tab-timeline .nav-tabs .time:before, .tab-timeline .nav-tabs .time:after {
	content: "";
	height: 6px;
	width: 6px;
	display: block;
	background: #fff;
}

/* 圆点（指示器内部） */
.tab-timeline .nav-tabs .time .dot {
	content: "";
	padding: 3px;
	display: block;
	background: #fff;
	border: 1px red solid;
	border-radius: 999999999999px;
}
.tab-timeline .nav-tabs .time .dot:after {
	content: "";
	display: block;
	height: 15px;
	width: 15px;
	border: red 1px solid;
	border-radius: 999999999999px;
	-webkit-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}

/* 激活的圆点（指示器内部） */
.tab-timeline .nav-tabs .active .time .dot:after, .tab-timeline .nav-tabs li>a:hover .time .dot:after {
	background: red;
}

/* 标签页内容 */
.tab-timeline .tab-pane {
	padding: 16px 36px;
	border: #F7D4D4 1px solid;
	overflow: hidden;
}

/* 标签页标题 */
.tab-timeline .tab-pane h2 {
	text-align: center;
}

/* 标签页的活动 */
.tab-timeline .tab-pane .action {
	margin: 16px 0;
    color: #000;
    float: right;
    display: block;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #000 2px solid;
}

.tab-timeline .bg {
	width: 100%;
	display: block;
	position: absolute;
	right: 0;
	left: 0;
	opacity: 0.15;
}

/********** 栏目（3） **********/
/* 简述 */
#traffic .resume {
	margin: 50px 0;
}

/* 列表 */
#traffic ul {
	margin: 0;
	padding: 0;
	border: rgba(0,0,0,0.2) 1px solid;
	-webkit-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
}
#traffic ul:hover {
	border-color: #266083;
}

/* 列表条目 */
#traffic li {
	padding: 24px;
	list-style: none;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
#traffic li:hover {
	color: #fff;
	background: #266083;
	-webkit-transform: translateY(-8px);
	    -ms-transform: translateY(-8px);
	        transform: translateY(-8px);
	-webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.3);
	        box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/* 标题 */
#traffic li h2 {
	margin-bottom: 24px;
	text-align: center;
}

/* 段落 */
#traffic li p {
	opacity: 0.86;
}

/* 列表条目 - 查看更多 */
#traffic .see-more {
	padding: 0;
	background: #eee;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/* 链接 */
#traffic .see-more a {
	padding: 70px 0;
	color: #337ab7;
	opacity: 0.7;
	text-decoration: none;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}
#traffic .see-more a:hover {
	color: #fff;
}

/**************** 聊天界面 ****************/
#chat {
	background-image: url(../img/plan/chat_bg.png);
}

/* 聊天 */
.chat {
    margin-top: 50px;
}

/* 聊天对话 */
.chat-dialogue {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 18px 0;
	-webkit-perspective: 5000px;
	        perspective: 5000px;
}

/* 聊天头像 */
.chat-head {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    background-color: #ddd; /* cyl - TODO: only dome */
}

/* 聊天气泡 */
.chat-bubble {
    max-width: 65%;
    margin: 0 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.chat-dialogue-left, .chat-dialogue-left .chat-bubble {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}
.chat-dialogue-right, .chat-dialogue-right .chat-bubble {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.chat-dialogue-left .chat-bubble {
	-webkit-transform-origin: 0;
	    -ms-transform-origin: 0;
	        transform-origin: 0;
}
.chat-dialogue-right .chat-bubble {
	-webkit-transform-origin: 100% 0;
	    -ms-transform-origin: 100% 0;
	        transform-origin: 100% 0;
}
.chat-dialogue-left .chat-bubble:hover {
	-webkit-transform: rotate3d(15,15,0,10deg);
	        transform: rotate3d(15,15,0,10deg);	
}
.chat-dialogue-right .chat-bubble:hover {
	-webkit-transform: rotate3d(15,-15,0,10deg);
	        transform: rotate3d(15,-15,0,10deg);	
}

/* 姓名 */
.chat-bubble .name {
	width: 100%;
	margin: 8px 0;
	opacity: 0.7;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.chat-dialogue-left .name {
	text-align: left;
}
.chat-dialogue-right .name {
	text-align: right;
}

/* 聊天信息 */
.chat-msg {
	color: #fff;
    padding: 24px;
    background-color: #eee;
    border-radius: 50px;
}
.chat-dialogue-left .chat-msg {
    background-color: #1987DC;
    border-top-left-radius: 0;
	-webkit-box-shadow: 0 6px 0 #3279AF;
	        box-shadow: 0 6px 0 #3279AF;
}
.chat-dialogue-right .chat-msg {
    background-color: #f3cb43;
    border-top-right-radius: 0;
	-webkit-box-shadow: 0 6px 0 #e0bb3c;
	        box-shadow: 0 6px 0 #e0bb3c;
}
