/*
	发展新篇专题的样式表

	作者：cyl
	创建时间：2018-08-19 11:26:45
	最后修改时间：2018-08-31 19:37:58
 */

/************* 全景图 *************/
/* 屏幕 */
#scene {
	height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/************** 新闻 **************/
/* 版块 */
#news_wall .part {
	padding: 8px;
}

/* 版块包装 */
#news_wall .part-wrapper {
	overflow: hidden;
}

/* 大板块的包装 */
#news_wall .part-big .part-wrapper {
	background: #C6C2FA;
}

/* 小版块的包装 */
#news_wall .part-sm .part-wrapper {
	padding: 24px;
	background: #f8f8f8;
}

/* 大板块的图片 */
#news_wall .part-big .img {
	height: 500px;
	padding: 0;
}

/* 大板块的文本 */
#news_wall .part-big .text {
	padding: 24px;
}

/* 版块的标题 */
#news_wall .part h2 {
	margin-bottom: 24px;
}

/* 版块的按钮 */
#news_wall .part .button {
	margin: 16px 0;
}

/********** 时间线标签页 **********/
/* 时间线标签页 */
.tab-timeline {
	margin-top: 36px;
}

/* 标签栏 */
.tab-timeline .nav-tabs {
	margin: 24px 0;
	padding: 16px 0;
	display: flex;
	border: none;
}

/* 标签栏条目 */
.tab-timeline .nav-tabs>li {
	display: block;
	flex-grow: 1;
}

/* 标签 */
.tab-timeline .nav-tabs>li>a {
	padding: 0;
	margin: 0;
	border: none;
	color: rgba(0,0,0,0.5);
	text-decoration: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.tab-timeline .nav-tabs>li>a:hover, .tab-timeline .nav-tabs>li>a:focus {
	background: unset;
	border: none;
}
.tab-timeline .nav-tabs>li>a:hover, .tab-timeline .nav-tabs>li.active>a {
	color: #000;
}


/* 时间线 */
.tab-timeline .nav-tabs .timeline {
	width: 100%;
	padding: 18px 0;
	position: relative;
}
.tab-timeline .nav-tabs .timeline:before {
	content: "";
	height: 1px;
	display: block;
	background: red;
}

/* 时刻（指示器） */
.tab-timeline .nav-tabs .time {
	width: 100%;
	position: absolute;
	top: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tab-timeline .nav-tabs .time:before, .tab-timeline .nav-tabs .time:after {
	content: "";
	height: 6px;
	width: 6px;
	display: block;
	background: #fff;
}

/* 圆点（指示器内部） */
.tab-timeline .nav-tabs .time .dot {
	content: "";
	padding: 3px;
	display: block;
	background: #fff;
	border: 1px red solid;
	border-radius: 999999999999px;
}
.tab-timeline .nav-tabs .time .dot:after {
	content: "";
	display: block;
	height: 15px;
	width: 15px;
	border: red 1px solid;
	border-radius: 999999999999px;
	transition: background 0.3s;
}

/* 激活的圆点（指示器内部） */
.tab-timeline .nav-tabs .active .time .dot:after, .tab-timeline .nav-tabs li>a:hover .time .dot:after {
	background: red;
}

/* 标签页内容 */
.tab-timeline .tab-pane {
	padding: 16px 36px;
	border: #F7D4D4 1px solid;
	overflow: hidden;
}

/* 标签页标题 */
.tab-timeline .tab-pane h2 {
	text-align: center;
}

/* 标签页的活动 */
.tab-timeline .tab-pane .action {
	margin: 16px 0;
    color: #000;
    float: right;
    display: block;
    font-weight: bold;
    text-decoration: none;
    border-bottom: #000 2px solid;
}

/********** 栏目（3） **********/
/* 简述 */
#traffic .resume {
	margin: 50px 0;
}

/* 列表 */
#traffic ul {
	margin: 0;
	padding: 0;
}

/* 列表条目 */
#traffic li {
	padding: 24px;
	list-style: none;
	transition: all 0.2s;
}
#traffic li:hover {
	color: #fff;
	background: #266083;
	transform: translateY(-8px);
	box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/* 标题 */
#traffic li h2 {
	margin-bottom: 24px;
	text-align: center;
}

/* 段落 */
#traffic li p {
	opacity: 0.86;
}

/* 列表条目 - 查看更多 */
#traffic .see-more {
	padding: 0;
	background: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 链接 */
#traffic .see-more a {
	padding: 70px 0;
	color: #337ab7;
	opacity: 0.7;
	text-decoration: none;
	flex-grow: 1;
	transition: color 0.3s;
}
#traffic .see-more a:hover {
	color: #fff;
}

/**************** 聊天界面 ****************/
#chat {
	background: #F8F8F8;
}

/* 聊天 */
.chat {
    margin-top: 50px;
}

/* 聊天对话 */
.chat-dialogue {
    display: flex;
    margin: 36px 0;
	perspective: 1000px;
}

/* 聊天头像 */
.chat-head {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    flex-shrink: 0;
    background-color: #ddd; /* cyl - TODO: only dome */
}

/* 聊天气泡 */
.chat-bubble {
    max-width: 60%;
    margin: 0 8px;
    display: flex;
    transition: transform 0.3s;
}

.chat-dialogue-left, .chat-dialogue-left .chat-bubble {
    flex-direction: row;
}
.chat-dialogue-right, .chat-dialogue-right .chat-bubble {
    flex-direction: row-reverse;
}
.chat-dialogue-left .chat-bubble {
	transform-origin: 0 42px;
}
.chat-dialogue-right .chat-bubble {
	transform-origin: 100% 42px;
}
.chat-dialogue-left .chat-bubble:hover {
	transform: rotate3d(15,15,0,10deg);	
}
.chat-dialogue-right .chat-bubble:hover {
	transform: rotate3d(15,-15,0,10deg);	
}

/* 聊天气泡的指示器（三角形） */
.chat-dialogue .chat-bubble:before {
    width: 0px;
    height: 0px;
    content: "";
    margin-top: 40px;
    border: 10px transparent solid;
}
.chat-dialogue-left .chat-bubble:before {
    border-right: 17px #1987DC solid;
}
.chat-dialogue-right .chat-bubble:before {
    border-left: 17px #ECC638 solid;
}

/* 聊天信息 */
.chat-msg {
	color: #fff;
    padding: 24px;
    background-color: #eee;
    border-radius: 8px;
}
.chat-dialogue-left .chat-msg {
    background-color: #1987DC;
	box-shadow: 0 6px 0 #3279AF;
}
.chat-dialogue-right .chat-msg {
    background-color: #ECC638;
	box-shadow: 0 6px 0 #C9AD44;
}
