body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1294px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1737 {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:266px;
}
#u1738 {
  position:absolute;
  left:2px;
  top:125px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1739 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:42px;
}
#u1740 {
  position:absolute;
  left:207px;
  top:121px;
  width:879px;
  height:42px;
}
#u1741 {
  position:absolute;
  left:2px;
  top:13px;
  width:875px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1742 {
  position:absolute;
  left:339px;
  top:134px;
  width:323px;
  height:16px;
  color:#666666;
}
#u1743 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:9px;
}
#u1744 {
  position:absolute;
  left:319px;
  top:138px;
  width:5px;
  height:9px;
}
#u1745 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1746 {
  position:absolute;
  left:272px;
  top:134px;
  width:29px;
  height:16px;
  color:#999999;
}
#u1747 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:9px;
}
#u1748 {
  position:absolute;
  left:252px;
  top:138px;
  width:5px;
  height:9px;
}
#u1749 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1750 {
  position:absolute;
  left:207px;
  top:134px;
  width:29px;
  height:16px;
  color:#999999;
}
#u1751 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
